.Bookingu {
  text-align: center;
  margin-left: 100px;
}

.formu {
  display: flex;
  justify-content: center;
   width: 75%;
   margin-left: 150px;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 50%; 
  margin-right: 2rem;
}

.form-column label {
  margin-bottom: 0.5rem;
}

.form-column input,
.form-column select {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}


.form-column button {
  width: 75%;
  padding: 10px;
  background-color: #4d4e50;
  color: #dad4d4;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 55px;
}
.Bookingu h2 {
  text-align: center;
   margin-left: 500px;
}
.form-column button:hover {
  background-color: #56585a;
}
